fastapi==0.115.2
uvicorn==0.30.6
SQLAlchemy==2.0.36
pydantic==2.9.2
pydantic-settings==2.6.1
python-multipart==0.0.12
pandas==2.2.3
itsdangerous==2.2.0
openai>=1.51.0
python-dotenv>=1.0.1

# tests
pytest
httpx
pytest-asyncio
freezegun